<%= form_with(model: club, local: true) do |form| %>
  <% if club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% club.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-5 col-lg-4 col-xl-4">
      <div class="py-2">
        <%= form.label :dress_code %>
        <%= form.text_area :dress_code, class: "form-control form-control-lg", required: true %>
      </div>

      <div class="py-2">
        <%= form.label :class_times %>
        <%= form.text_area :class_times, class: "form-control form-control-lg", required: true %>
      </div>

      <div class="pt-5 pb-2">
        <%= form.label :contacts %>
        <%= form.text_area :contacts, class: "form-control form-control-lg", required: true %>
      </div>

      <div class="py-2">
        <%= form.label :facebook %>
        <%= form.text_field :facebook, class: "form-control form-control-lg", required: true %>
      </div>

      <div class="py-2">
        <%= form.label :instagram %>
        <%= form.text_field :instagram, class: "form-control form-control-lg", required: true %>
      </div>

      <div class="py-2">
        <%= form.label :youtube %>
        <%= form.text_field :youtube, class: "form-control form-control-lg", required: true %>
      </div>
    </div>
    <div class="col-md-7 col-lg-8 col-xl-8">
      <div class="field">
        <%= form.label :about %>
        <%= form.rich_text_area :content %>
      </div>
      <div class="py-5" style="float: right;">
        <%= form.submit "Update Club", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>


<% end %>
