<div class="py-5 mx-2">
  <h4 class="text-center">
  </h4>
<ul class="nav flex-column">
  <div class="py-4 text-center">
  </div>
  <div style="padding-left: 50px;">
  <li class="nav-item">
    <%= link_to "Overview", dashboard_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Blog", blog_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Invite a member", new_user_invitation_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Members", members_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Files", taichi_files_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Videos", videos_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "Settings", settings_path, class: "nav-link"%>
  </li>
  </div>
</ul>
</div>
