<% title "Our Blog | Tai Chi" %>
<div class="container">
  <div class="py-2">
    <h4 class="text-muted">
      Club Blog
    </h4>
    <hr/>
    <%= link_to 'Create new post', "#post-modal", class: "btn btn-primary", data: { target: "#post-modal", toggle: "modal"} %>
  </div>
  <div class="py-4">
    <% @posts.each do |post| %>
      <div class="article-card">
        <div class="py-4">
          <h4 class="font-weight-bold"><%= link_to post.title, post %></h4>
          <p class="py-2 text-muted">
          <%= pluralize(post.impressionist_count, 'view') %>
          - posted <%= time_ago_in_words(post.created_at) %>  ago
          - by: <%= post.user.full_name %>
          </p>
          <% if !@admin.nil? %>
            <%= link_to 'Edit', edit_post_path(post) %> | 
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
          <hr/>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- SignUp Modal -->
<div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add new post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "posts/form", post: @post%>
      </div>
    </div>
  </div>
</div>
