<p id="notice"><%= notice %></p>

<p>
  <strong>Content type:</strong>
  <%= @content.content_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @content.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @content.user %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
