<div class="container">
  <div class="py-1">
    <div class="row">
      <div class="col">
        <div class="text-center pt-5 pb-2">
          <h2 class="font-weight-bold">Welcome back</h2>
        </div>
        <div class="mx-4 py-2">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs mx-4">
              <div class="py-2">
              <%= f.input :email,
                          required: false,
                          input_html: { class: "form-control form-control-lg", autocomplete: "email", placeholder: "Email" } %>
              </div>
              <div class="py-4">
              <%= f.input :password,
                          required: false,
                          input_html: { class: "form-control form-control-lg",  autocomplete: "current-password", placeholder: "Password" } %>
              </div>
              <div class="py-4">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
            </div>

            <div class="py-4 mx-4">
              <%= f.button :submit, "Log in", class: "btn btn-success btn-block" %>
            </div>
          <% end %>
            <div class="mx-4">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
              <% end %>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="py-3">
          <%=image_tag("hero-2.png", class: "img-fluid py-5")%>
        </div>
      </div>
    </div>
  </div>
</div>
