<div class="grounded py-4 text-center">
  <div class="container">
      <h2 class="font-weight-bold">
        What is Tai Chi
      </h2>
      <div class="py-5 mx-4">
        <div class="d-none d-md-block">
          <p class="py-5 mx-4">
            In the practice of Tai Qi one finds peace of heart, tranquillity of spirit and a better viewpoint from which to view the frenetic activity which surrounds us in the sentient world.  There is no space for “escapism” through Tai Qi, as we endeavour to acknowledge, embrace and become one with life as it is.
          </p>
        </div>
        <div class="d-md-none d-block">
          <p class="py-2">
            In the practice of Tai Qi one finds peace of heart, tranquillity of spirit and a better viewpoint from which to view the frenetic activity which surrounds us in the sentient world.  There is no space for “escapism” through Tai Qi, as we endeavour to acknowledge, embrace and become one with life as it is.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 members">
  <div class="container">
    <div class="text-center">
      <h2 class="font-weight-bold pt-2 pb-4">
        Join Us
      </h2>
      <p class="lead pt-4 pb-5">
        We are a club that is governed by Sport Administration at the University of Cape Town
      </p>
    </div>
    <div class="d-md-block d-none">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="py-5 costs">
            <h3>
            Affordable Classes
            </h3>
            <p class="py-2">
              <p class="lead">
                Your first class:
                <span class="badge badge-dark py-2 mx-2 text-white">
                  FREE
                  </span>
              </p>
              <p class="lead">
                UCT Students: R380/year
                  <span class="badge badge-dark py-2 mx-2 text-white">
                  Charged to your student account
                  </span>

              </p>
              <p class="lead">
                External members:
                  <span class="badge badge-dark py-2 mx-2 text-white">
                  Email us
                  </span>
              </p>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="py-2 text-center">
            <div class="text-center">
              <%=image_tag("club_fun.jpg",style: "" ,class: "img-fluid rounded")%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-none d-sm-block">
      <div class="text-center">
        <%=image_tag("club_fun.jpg",style: "" ,class: "img-fluid rounded")%>
      </div>
      <div class="pt-5 costs text-center">
        <h3>
        Affordable Classes
        </h3>
        <p class="py-2">
          <p class="lead">
            Your first class:
                <span class="badge badge-dark py-2 mx-2 text-white">
                  FREE
                  </span>
          </p>
          <p class="lead">
            UCT Students: R380-/year
                  <span class="badge badge-dark py-2 mx-2 text-white">
                  Charged to your student account
                  </span>
          </p>
          <p class="lead">
            External members:
                  <span class="badge badge-dark py-2 mx-2 text-white">
                  Email us
                  </span>
          </p>
        </p>
      </div>
      <div class="text-center">
        <%=image_tag("wear_club.jpg",style: "" ,class: "img-fluid rounded")%>
      </div>
      <div class="py-5 text-center">
        <h3>
          What To Wear
        </h3>
        <p style="line-height: 1.58;" class="lead py-2">
          <%= @club.dress_code %>
        </p>
      </div>
    </div>

    <div class="d-md-block d-none">
      <div class="py-5 wear">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <%=image_tag("wear_club.jpg",style: "" ,class: "img-fluid rounded")%>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="py-5">
              <h3 class="text-right">
                What To Wear
              </h3>
              <p style="line-height: 1.58;" class="text-right lead py-2 ml-4">
                <%= @club.dress_code %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="venue" id="venue">
  <div class="text-center">
    <h2>
      Martial Arts Room
    </h2>
    <p class="lead">
      UCT Sports Center
    </p>
    <h3 class="pt-5">
      beginner class
    </h3>
    <p class="lead">
    Tuesdays &amp; Thursdays<br/>
      17h00 to 18h30
    </p>
    <h3 class="pt-2 pb-2">
      senior class
    </h3>
    <p class="lead">
    Tuesdays &amp; Thursdays<br/>
      18h30 to 20h00
    </p>
  </div>
</div>

<div class="container coach d-none">
  <div class="d-md-block d-none">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="py-5">
          <h1>
          High Quality Classes
          </h1>
          <p class="lead py-4">
            It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it
            look like readable English. Many desktop publishing packages and web
            page editors now use Lorem Ipsum as their default model text.
          </p>
          <%= link_to "Read more", about_path, class: "btn btn-huge btn-primary"%>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="py-5 text-center">
          <div class="py-4">
            <%= image_tag("coach.jpg", style: "height: 360px;",class: "img-fluid rounded")%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-md-none d-block">
    <div class="py-5 text-center">
      <h1>
      High Quality Classes
      </h1>
      <p class="lead py-4">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look like readable English. Many desktop publishing packages and web
        page editors now use Lorem Ipsum as their default model text.
      </p>
    </div>
    <div class="py-4 text-center">
      <%= image_tag("coach.jpg", style: "height: 360px;",class: "img-fluid rounded")%>
    </div>
    <div class="py-4 text-center">
      <%= link_to "Read more", about_path, class: "btn btn-huge btn-primary"%>
    </div>
  </div>
</div>

<div class="reviews">
  <div class="container">
    <div class="py-5 text-center">
      <h2 class="font-weight-bold">
        In the words of our students
      </h2>
    </div>
    <div class="py-5 students">
      <div class="carousel slide" id="thoughts-controls" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4 col-lg-4">
                <div class="card mb-4 border-light">
                  <div class="card-body mx-4">
                    <p class="card-text">
                      "This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 socials">
  <div class="text-center ">
    <h2 class="font-weight-bold">
      Club Socials
    </h2>
  </div>
  <div class="container">
    <div class="py-5 card-columns">
      <div class="card mb-4">
        <%= image_tag("club_socials.jpg",class: "img-fluid rounded")%>
        <div class="card-body">
          <h4 class="card-text">
            Club Formal
          </h4>
          <p class="lead card-text" style="padding-top: 10px !important;">
            Our annual club formal hosted at the end of the year.
          </p>
        </div>
      </div>

      <div class="card mb-4">
        <%= image_tag("beach_day.jpeg",class: "img-fluid rounded")%>
        <div class="card-body">
          <h4 class="card-text">
            Beach Days
          </h4>
          <p class="lead card-text" style="padding-top: 10px !important;">
            Tai Chi &amp; Qigong at the beach during the warm season.
          </p>
        </div>
      </div>

      <div class="card mb-4">
        <%= image_tag("taichi_camp.jpg",class: "img-fluid rounded")%>
        <div class="card-body">
          <h4 class="card-text">
            Club Camp
          </h4>
          <p class="lead card-text" style="padding-top: 10px !important;">
            Annual camp hosted during the warm season, usually during university break. Enjoy &amp; learn more about 
            Tai Chi at our 3 day camp away from the city.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pt-5 text-center contact" id="contact">
  <%=image_tag("yin.png",style: "height: 50px;" ,class: "img-fluid")%>
  <h2 class="font-weight-bold">Get in touch</h2>
  <p class="pt-5">
    <span class="mx-2 py-4 text-primary fa fa-envelope fa-2x">
    </span>
    <br/>
      ucttaichi@gmail.com
  </p>
</div>

