<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py-4">
    <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Blog Title" %>
  </div>

  <div class="py-5 mx-2">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="py-2">
    <%= form.submit "Create Blog", class: "btn btn-success btn-lg" %>
    <%= link_to 'Back to posts', posts_path , class: "btn btn-danger btn-lg" %>
  </div>
<% end %>
