<div class="container">
    <div class="py-5">
      <h1 class="font-weight-bold py-4">
        Blog 
      </h1>
    </div>

  <div class="py-4">
    <div class="card-columns">
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-body">
        <h4 class="card-title"><%= post.title %></h4>
        <p class="card-text">
          <%= post.body %>
        </p>
        <p><%= link_to 'Show', post %> |
        <%= link_to 'Edit', edit_post_path(post) %> | 
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
      </div>
    <% end %>
  </div>
  </div>

  <% if user_signed_in? && current_user.admin? %>
  <hr>
  <%= link_to 'New Post', new_post_path, class: "btn btn-info" %>
  <% end %>
</div>
