<% title "Our Blog | Tai Chi" %>
<div class="container">
  <article class="py-5">
    <h1 class="font-weight-bold py-4">
      <%= @post.title %>
    </h1>
    <div class="py-5">
    <%= @post.content %>
    </div>
    <div class="py-5">
      <% if @admin %>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
      <% else %>
        <%= link_to 'Back', posts_path, class: "btn btn-huge btn-danger" %>
      <% end %>
    </div>
  </article>
</div>

