<footer class="py-5 footer">
  <hr />
  <div class="text-center">
    <h4 class="py-4 text-white">zhuoshan tai chi</h4>
    <%= link_to "About Us" ,about_path,  class: "mx-2"%>
    <%= link_to "Find us" ,"#contact",  class: "mx-2"%>
    <%= link_to "Blog" ,"#contact",  class: "mx-2"%>
    <%= link_to "Contact" ,"#contact",  class: "mx-2"%>
    <%= link_to "Gallery" ,"#contact",  class: "mx-2"%>
  </div>

  <div class="text-center pt-5">
    <a href="https://www.facebook.com">
      <span class="mx-2 fa fa-facebook fa-2x">
      </span>
    </a>
    <a href="https://www.instagram.com">
      <span class="mx-2 fa fa-instagram fa-2x">
      </span>
    </a>
    <a href="https://www.linkedin.com">
      <span class="mx-2 fa fa-linkedin fa-2x"></span>
    </a>
    <a href="https://www.twitter.com">
      <span class="mx-2 fa fa-twitter fa-2x"></span>
    </a>
    <a href="https://www.youtube.com">
      <span class="mx-2 fa fa-youtube fa-2x"></span>
    </a>
  </div>
  <div class="text-center pt-4">
    <p class="text-white"> zhuoshan tai chi &copy; 2020 All Rights Reserved</p>		
    <%= link_to "Privacy Policy", root_path, class: "mx-2" %>
    <%= link_to "Terms of Use", root_path, class: "mx-2"%>
  </div>
</footer>
