<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for?(:title) ? yield(:title) : 'Find & Become Your Best Yourself' %> | Tai Chi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91400897-5"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-91400897-5');
  </script>

    <meta name='description' content='<%= yield_meta_tag(:description, 'UCT Martial Arts | Tai Chi') %>' />
    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'relax,breathing,UCT sports, anxiety, balance, cape town') %>' />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? and current_user.try(:admin?) %>  
      <div class="row">
        <section class="col-md-2 col-lg-2">
          <aside class="py-5 sidebar">
            <%= render 'dashboard/sidebar' %>
          </aside>
        </section>

        <section class="col-md-10 col-lg-10">
          <main class="mx-4 py-2 main-wrapper">
            <%= render 'dashboard/navbar' %>
            <%= yield %>
          </main>
        </section>
      </div>
    <% else %>
      <% if current_page?(root_path)%>  
        <div class="h-01">
          <%= render 'layouts/header' %>
          <div class="container">
            <div class="py-4">
              <%= render 'layouts/flashy' %>
            </div>
            <div class="row pt-2"><!-- for mobile -->
              <div class="d-block d-sm-none">
                <div class="container">
                  <div class="text-center">
                    <h2>Yang Style Tai Chi</h2>
                    <p class="lead py-4">
                      "be like water, my friend"
                    </p>
                    <p class="font-weight-bold">
                    - Bruce Lee
                    </p>
                    <div class="pt-2 pb-2">
                      <%= image_tag("club_logo.jpg", class:"img-fluid")%>
                    </div>
                    <div class="pt-2 pb-2">
                      <%= link_to "Join our class", root_path, class: "btn btn-block btn-primary"%>
                    </div>
                  </div>
                </div>
              </div>
              <!-- bigger screens -->
              <div class="col-sm-5 col-md-6 col-lg-6 d-none d-sm-block">
                <h1 class="font-weight-bold">
                  Very Strong Header here
                </h1>
                <p class="py-4">
                  This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit
                </p>
                <%= link_to "Get Started", about_path, class: "btn btn-dark", style: "padding: 18px 28px; font-size: 18px;"%>
              </div>
              <div class="col-sm-5 col-md-6 col-lg-6 d-none d-sm-block py-4">
                <div class="py-2">
                  <%= image_tag("club_logo.jpg", class:"img-fluid")%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= yield %>
        <%= render 'layouts/footer' %>

      <% else %>
        <%= render 'layouts/header' %>
        <%= render 'layouts/flashy' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      <% end %>
    <% end %>
  </body>
</html>
