<!DOCTYPE html>
<html>
  <head>
    <title> <%= content_for?(:title) ? yield(:title) : 'University of Cape Town' %> | Tai Chi </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='description' content='<%= yield_meta_tag(:description, 'University of Tai Chi Club governed by UCT Sports Center') %>' />
    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'relaxing, tai chi, harmony, cape town, martial arts, beat anxiety,mental health, self discoverty, adventure') %>' />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91400897-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-91400897-5');
    </script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>  
      <% if current_user.admin? %>
        <div class="main-wrapper">
          <div class="container py-2">
            <%= render 'dashboard/navbar' %>
            <main class="pt-5">
              <%= yield %>
            </main>
          </div>
        </div>
      <% else %>
        <div class="main-wrapper">
          <div class="container">
            <%= render 'users_dashboard/navbar' %>
            <%= yield %>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if current_page?(root_path)%>  
        <div class="h-01">
          <%= render 'layouts/navbar' %>
          <div class="container-fluid">
            <%= render 'layouts/flashy' %>
            <div class="row"><!-- for mobile -->
              <div class="d-block d-sm-none">
                <div class="container">
                  <div>
                    <h1>UCT Tai Chi</h1>
                    <p class="py-4">
                      This gentle form of exercise can help maintain harmony, 
                      content, freedom and balance in your life. It could be 
                      the perfect activity for the rest of your life.
                    </p>
                    <div class="pt-2 pb-2">
                      <%= image_tag("walking_undraw.png", class:"img-fluid")%>
                    </div>
                    <div class="pt-2 pb-2">
                      <%= link_to "Join our class", root_path, class: "btn btn-block btn-huge btn-dark"%>
                    </div>
                  </div>
                </div>
              </div>
              <!-- bigger screens -->
              <div class="py-5 d-none d-sm-block">
                <h1 class="py-2">
                  UCT Tai Chi
                </h1>
                <p class="py-5">
                      This gentle form of exercise can help maintain harmony, 
                      content, freedom and balance in your life. It could be 
                      the perfect activity for the rest of your life.
                </p>
                <%= link_to "Join UCT Tai Chi", about_path, class: "btn btn-dark", style: "padding: 18px 28px; font-size: 18px;"%>
              </div>
            </div>
          </div>
        </div>
        <%= yield %>
        <%= render 'layouts/footer' %>
      <% else %>
        <%= render 'layouts/navbar' %>
        <%= render 'layouts/flashy' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      <% end %>
    <% end %>
  </body>
</html>
